.contact-content h1 {
    padding-bottom: 20px;
}

.contact-content p {
    padding: 10px 0;
}

.contact-content img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.form-field {
    padding-bottom: 20px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    
    outline: none;
    font-size: 20px;
    color: #ffea00;
    background-color: black;
    border-radius: 5px;
    background: #212121;
box-shadow: inset 5px 5px 9px #1b1b1b,
            inset -5px -5px 9px #272727;
}

.form-field textarea {
    height: 200px;
}

.form-field label {
    font-size: 14px;
}

form .name-email {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

form .name-email div {
    width: 50%;
}