@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffee00;
  --color-secondary: #b39e86;
  --color-tertiary: #241c13;
  --color-white: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: var(--color-secondary);
  font-weight: 500;
  text-transform: uppercase;
}

h4,
p,
label {
  color: var(--color-secondary);
}

h4 {
  font-weight: normal;
}

p,
label {
  font-size: 13px;
}

.section {
  padding: 70px 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  background-color: rgb(238, 255, 0);
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


blockquote {
  color: var(--color-secondary);
  border-left: 7px solid var(--color-primary);
  padding-left: 20px;
}

.heading-primary {
  color: var(--color-white);
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
  padding-bottom: 10px;
}

.heading-primary span {
  font-weight: 700;
}

.heading-secondary {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.1;
}

.heading-secondary span {
  font-weight: 600;
}

.heading-tertiary {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
}

.heading-tertiary span {
  font-weight: 700;
  color: var(--color-primary);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.py-md {
  padding: 50px 0;
}

.special-word {
  color: yellow;
  font-weight: 700;
}

.text-white {
  color: var(--color-white);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .heading-primary {
    font-size: 45px;
  }
}
